<div class="choose-section">
	<p>Choose a section to get started...</p>
	<div class="choose-section-dir">
		<ul>Debt and borrowing</ul>
		<li>Taking control of debt, getting free debt advice, and how to borrow affordably</li>
	</div>
</div>
